# shintaro3749-8.github.io
body {
  overflow-x: hidden !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  font-family: "Oswald", sans-serif;
}

.header .h-title {
  font-size: 25px;
  overflow: hidden;
}

.header .h-title a {
  text-decoration: none;
  color: black;
}

.header .h-nav {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 8vh;
  z-index: 5;
  height: 92vh;
  width: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}

.header .h-nav .h-menu {
  list-style: none;
  width: 100%;
